<% images = (1..12).to_a.cycle %> <!-- Ciclo para repetir a lista de 1 a 12 -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

  body {
    text-align: center;
    padding: 20px;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    animation: glow 1.5s infinite alternate;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    color: #007bff;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    }
    to {
      text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
    }
  }

  .table-responsive {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
    border-radius: 12px;
    background-color: rgba(31, 31, 31, 0.9);
    padding: 15px;
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
  }

  .table {
    background-color: #ffffff;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    font-size: 1.4rem; /* Aumenta a fonte das tabelas dos jogadores */
    table-layout: fixed;
    width: 100%;
    cursor: pointer;
  }

  .table th {
    cursor: pointer;
    color: #00ff00;
    font-size: 1.4rem; /* Aumenta a fonte dos cabeçalhos das tabelas */
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #e0e0e0;
  }

  .table-bordered th, .table-bordered td {
    border: 2px solid #007bff;
    padding: 20px;
    text-align: center;
    color: #000000;
  }

  .btn-secondary {
    background-color: #00ff00;
    color: #121212;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }

  .btn-secondary:hover {
    background-color: #00cc00;
    color: #f5f5f5;
    transform: scale(1.05);
  }

  /* Responsividade */
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .table-bordered th, .table-bordered td {
      padding: 10px;
      font-size: 1rem;
    }

    .btn-secondary {
      font-size: 1rem;
      padding: 8px 16px;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    .table-bordered th, .table-bordered td {
      padding: 8px;
      font-size: 0.9rem;
    }

    .btn-secondary {
      font-size: 0.9rem;
      padding: 6px 12px;
    }
  }
</style>

<div class="container mt-5">
  <h1>Times Formados</h1>

  <h2>Time A: <%= number_to_percentage(team_percentage(@balanced_teams[0]), precision: 0) %> de força</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped" id="team-a-table">
      <thead>
        <tr>
          <th onclick="sortTable(0, 'team-a-table')">Jogadores</th>
        </tr>
      </thead>
      <tbody>
        <% @balanced_teams[0].sort_by(&:name).each_with_index do |player, index| %>
          <tr>
            <td>
              <img src="<%= asset_path("jog#{images.next}.png") %>" alt="Avatar de <%= player.name %>" style="height: 50px; margin-right: 10px; vertical-align: middle;">
              <%= player.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h2>Time B: <%= number_to_percentage(team_percentage(@balanced_teams[1]), precision: 0) %> de força</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped" id="team-b-table">
      <thead>
        <tr>
          <th onclick="sortTable(0, 'team-b-table')">Jogadores</th>
        </tr>
      </thead>
      <tbody>
        <% @balanced_teams[1].sort_by(&:name).each_with_index do |player, index| %>
          <tr>
            <td>
              <img src="<%= asset_path("jog#{images.next}.png") %>" alt="Avatar de <%= player.name %>" style="height: 50px; margin-right: 10px; vertical-align: middle;">
              <%= player.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if @balanced_teams[2].any? %>
    <h2>Próximo Time: <%= number_to_percentage(team_percentage(@balanced_teams[2]), precision: 0) %> de força</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="next-team-table">
        <thead>
          <tr>
            <th onclick="sortTable(0, 'next-team-table')">Jogadores</th>
          </tr>
        </thead>
        <tbody>
          <% @balanced_teams[2].sort_by(&:name).each_with_index do |player, index| %>
            <tr>
              <td>
                <img src="<%= asset_path("jog#{images.next}.png") %>" alt="Avatar de <%= player.name %>" style="height: 50px; margin-right: 10px; vertical-align: middle;">
                <%= player.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <%= link_to 'Voltar', :back, class: 'btn btn-secondary mt-3' %>
</div>

<script>
  function sortTable(columnIndex, tableId) {
    const table = document.getElementById(tableId);
    const rows = Array.from(table.rows).slice(1); 
    let sortedRows = rows.sort((a, b) => {
      const aText = a.cells[columnIndex].innerText.toLowerCase();
      const bText = b.cells[columnIndex].innerText.toLowerCase();
      
      return aText.localeCompare(bText);
    });

    const isSorted = table.getAttribute('data-sorted') === 'true';

    if (isSorted) {
      sortedRows.reverse(); // Inverte a ordem se já estiver ordenado
    }

    table.setAttribute('data-sorted', !isSorted);

    const tbody = table.querySelector('tbody');
    sortedRows.forEach(row => tbody.appendChild(row));
  }
</script>
