<style>
  body {
    text-align: center;
    padding: 20px;
  }

  h1, h2 {
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }
</style>

<div class="container mt-5">
  <h1 class="text-center">Times Formados</h1>

  <h2>Time A: <%= number_to_percentage(team_percentage(@balanced_teams[0]), precision: 0) %></h2>
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <tbody>
        <% @balanced_teams[0].each do |player| %>
          <tr>
            <td><%= "#{player.name}" %></td>
            <td><%= "#{player.score}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h2>Time B: <%= number_to_percentage(team_percentage(@balanced_teams[1]), precision: 0) %></h2>
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <tbody>
        <% @balanced_teams[1].each do |player| %>
          <tr>
            <td><%= "#{player.name}" %></td>
            <td><%= "#{player.score}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Voltar', :back, class: 'btn btn-primary mt-3' %>
</div>
