<style>
  body {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #343a40;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    color: #007bff;
  }

  .table {
    background-color: white;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
  }

  .table-bordered th, .table-bordered td {
    border: 2px solid #dee2e6;
  }

  .table td {
    font-size: 1.2rem;
  }

  .btn-secondary {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
  }
</style>

<div class="container mt-5">
  <h1 class="text-center">Times Formados</h1>

  <h2>Time A: <%= number_to_percentage(team_percentage(@balanced_teams[0]), precision: 0) %></h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped text-center">
      <tbody>
        <% @balanced_teams[0].each do |player| %>
          <tr>
            <td><%= player.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h2>Time B: <%= number_to_percentage(team_percentage(@balanced_teams[1]), precision: 0) %></h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped text-center">
      <tbody>
        <% @balanced_teams[1].each do |player| %>
          <tr>
            <td><%= player.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Voltar', :back, class: 'btn btn-secondary mt-3' %>
</div>
